<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1> Welcome {{ loggedUser }}</h1>
    <div>
        {% if devices_data %}
        <h2> Devices </h2>
        <ul>
            {% for device in devices_data %}
            <li>
                {{ device['name'] }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}



    </div>


    <button type="submit"><a href="/logout">Logout</a></button>
    <h1> {{ error }}</h1>


</body>

</html>