<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> This is the Index Page</h1>
    <div>
        <form action="/login" method="post">
            <h2> Login </h2>
            <p> {{ error }}</p>
            <label for="username"> Username </label>
            <input type="text" name="username" id="username" placeholder="Email Address ">
            <label for="password"> Password </label>
            <input type="password" name="password" id="password" placeholder="password">
            <button type="submit">Login</button>
        </form>

    </div>
</body>

</html>